<div class="col-md-2 col-sm-3">
  <div class="slider sidenav" id="mySidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <ul class="my-menu">
      <li class="my_markt">
        <a>
          <img src="../../assets/images/fav-star-icon.png" alt="icon" />
          <span>My Market</span>
        </a>
      </li>
      <li>
        <a router-link="/favourites">
          <img src="../../assets/images/fav-star-icon.png" alt="icon" />
          <span>Favourites</span>
        </a>
      </li>
      <li id="cricketLi" class="cricket">
        <a router-link="/cricket">
          <img src="../../assets/images/fav-star-icon.png" alt="icon" />
          <span>Cricket</span>
        </a>
      </li>
      <li class="tennis">
        <a router-link="/tennis">
          <img src="../../assets/images/fav-star-icon.png" alt="icon" />
          <span>Tennis</span>
        </a>
      </li>
      <li class="football">
        <a router-link="football">
          <img src="../../assets/images/fav-star-icon.png" alt="icon" />
          <span>Football</span>
        </a>
      </li>
    </ul>
  </div>
</div>
