<footer>
	<div class="footer-menu">
		<ul>
			<li>
				<a href="Dashboard?inplay"><i class="fas fa-home"></i><span> Home</span></a>
			</li>
			<li>
				<a href="Dashboard" class="active"> <i class="fas fa-basketball-ball"></i> <span>Matches</span></a>
			</li>
			<li>
				<a href="Mymarket"><i class="fas fa-chart-line"></i><span>My Market </span></a>
			</li>
			<li>
				<a href="#"><i class="fas fa-file-alt"></i><span>News</span> </a>
			</li>
			<li>
				<a id="show_hide"><i class="far fa-user-circle"></i><span>Account</span> </a>
			</li>
		</ul>
	</div>


	<div class="footer_inner">
		<a href="#" data-toggle="modal" data-target="#exampleModal2">Rules & Regulations</a>
		<span>© 2016-2018</span>
		<div class="powered-by"> | <span class="powered-logo"></span></div>
	</div>
</footer>